@import '_var.scss';
@font-face {
    font-family: "digi";
    src: url("../font/DS-DIGIB.TTF") format("truetype");
}
body {

    background-color: $body;

    .container-fluid {

        .row {

            .navbar {

                height: 50px; 
                font-size: 16px;
                background-color: $navbar;

                a {

                    img {

                        width: 50px;
                    }
                }

                .collapse{

                    ul {

                        li {

                            a {
                                color: $grey;
                                padding: 5px 35px;
                                border-radius: 6px;
                                margin-right: 15px;
                                background-color: $button;
                            }

                            a:hover {
                                color: $white;
                                background-color: $buttonHover;
                            }
                            
                            .dropdown-menu {

                                padding: 15px;
                                background-color: $navbar;

                                span {
                                    color: $grey;
                                    margin-bottom: 10px;
                                    padding: 5px 35px;
                                    border-radius: 6px;
                                    background-color: $button;
                                }
                                .dropdown-item:hover{

                                    color: $white;
                                    background-color: $buttonHover;
                                }
                            }
                        }

                    }
                }
            }
        }
    }

    .container {

        .row {

            .col-12 {

                .card-deck{

                    .card {

                        
                        transform: scale(1);
                        cursor: pointer;
                        border: solid 2px $white;
                        background: $white;
                        transition: 0.5s;
                    }

                    .card:hover {

                        transform: scale(1.05);
                    }
    

                }

                // snake
                .div-plan{

                    .container-snake {

                        background-color: $white;
                    }
                }

            }

        }
    }
}